*{
    margin:0px;
    padding: 0px;
}

body h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    text-align: center;
}
.contenedor label,input,select,option{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin: 10px;
}
.contenedor input,select{


   background-color: aqua;
   
}
 .contenedor{
    display: center;
    justify-content: center;
    align-items: center;
}
    
.contenedor select{
    display:flex;
    align-items: center;
    justify-content: center;
}
