
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sucursales.css">
    <link rel="shortcut icon" href="../img/iconopequeño.jpeg" type="image/x-icon">
    <title>Sucursales</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="../view/pag_inicio.html" class="logo">
            <img src="../img/zuricata.logo.ama.jpeg" alt="Logo">
            <h1 class="logo_nombre">Meerkats</h1>
            </a>
        </div>
        <h1>Nuestras Sucursales</h1>
        <nav>
            <a href="../controller/cerrarsesion.php" class="nav_link">Inicio</a>
           
        </nav>
    </header>

    <div class="container">
        <h2>Ubicaciones</h2>
        <ul>
            <li><strong>Auto pista norte con 170</strong></li>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1988.047529741992!2d-74.04895620743297!3d4.7535086691576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f859a33b76f93%3A0x4466090b7f7b0377!2sAutopista%20Nte.%20%26%20Cl.%20170%2C%20Suba%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1709943308291!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <li><strong>Suba</strong></li>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.094728985791!2d-74.11466182596281!3d4.753565941198949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f858c82ab7663%3A0xdf87e5ea921b923!2sparque%20fontanar%20del%20rio%20bogota!5e0!3m2!1ses!2sco!4v1708301404514!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <li><strong>Soacha</strong></li>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31815.814309102767!2d-74.23984445540317!3d4.598180732011541!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f758a17841789%3A0xc897578b55ac6342!2sCiudad%20Verde%2C%20Soacha%2C%20Cundinamarca!5e0!3m2!1ses!2sco!4v1708301463750!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </ul>

        <h2>Servicios</h2>
        <ul>
            <li>Lavado</li>
            <li>Secado</li>
            <li>Planchado</li>
            <li>Tintorería</li>
            
        </ul>

        <h2>Horario de Atención</h2>
        <p class="horario">Nuestro horario de atención es de 8:30am a 5:00pm de lunes a sábado.</p>
    </div>
    <div class="map">

    </div>
</body>
</html>

